/**
Homepage Page
**/

.full-background {
  background:url("assets/images/background-scenery.jpg") no-repeat center center fixed;
  position: relative;
  width: 100%;
  background-size:cover;
  padding-top:70px;
}

.navbar {
  background: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  border-bottom:none;
  margin-bottom: 0;
  box-shadow:none;
  font-family:"Nunito";
}

body div div ul li {
  float:right;

}
.navbar-right {
  color:red;
}

.home-text {
  color:white;
}

.project-text {
  color:white;
}

.about-text {
  color:white;
}

.navbar-about {
  font-size:20px;
  text-decoration: none;
}


.navbar-projects {
  font-size:20px;
  text-decoration:none;
}

.navbar-slider:hover .slider {
  width:100%;
}

.slider {
    position: absolute;
    height: 2px;
    background-color: #669966;
    width: 0%;
    -webkit-transition: width 1s ease;
    transition: width 1s ease;
}


.jumbotron.home {
  font-family:"Nunito";
  text-align:center;
  background:transparent;
  color:white;
 }

.brackets-name {
  font-size:8em;
  opacity: 0;
}

.dylan-lynch {
  font-size:8em;
  letter-spacing:-7px;
}


.brackets-occupation {
  letter-spacing:-2px;
  font-size:1.5em;
  opacity: 0;
}

.web-dev {
  margin-right:-5px;
  letter-spacing:5px;
  font-size:1.5em;
}

.name-occupation-hovered{
  opacity: 1;
  -webkit-transition: opacity .25s ease-in-out .0s;
  transition: opacity .25s ease-in-out .0s;
}

.github-black {
  content:url(https://raw.githubusercontent.com/donaldali/donaldali.github.io/master/assets/images/icons/GitHub/black-64.png);
  width:80px;
  height:80px;
  margin:0 auto;
  border-radius:40px;
  margin-right:15px;
}

.github-white {
  content:url(https://raw.githubusercontent.com/donaldali/donaldali.github.io/master/assets/images/icons/GitHub/white-64.png);
  width:80px;
  height:80px;
  margin:0 auto;
  border-radius:40px;
  margin-right:15px;
}

.mail-black {
  content:url("assets/images/mail-black.png");
  margin-left:15px;
  margin-top:20px;
  height:80px;
}

.mail-black:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}


/**
About Page
**/


.profile-head {
  content:url("assets/images/profile-head.jpg");
  border-radius:50px;
  height:110px;
  width:100px;
  float:left;

}
.thumbnail {
  background-color:#337ab7;
}

.thumbnail-tech {
  height:230px;
}


.thumbnail:hover > .technology-header {
  color:black;
  font-size:28px;
}

.thumbnail:hover > .greetings-header {
  color:black;
}

.caption:hover {
  color:white;
}

.thumbnail-intro {
  margin-top:50px;
}

.jumbotron.about {
  font-family:"Nunito";
  text-align:center;
  height:42.1em;
  background-color:#337ab7;

 }

.about-paragraph p {
  font-size:22px;
  color:white;
}

.about-header {
  font-size:60px;
  color:white;
}

.greetings-header {
  color:white;
  font-size:30px;
}

.jumbotron.about-skills {
  font-family:"Nunito";
  text-align:center;
  color:white;
  height:42.5em;
  margin-bottom:0;
  margin-top:18.0em;
  background-color:#337ab7;
 }


.skills-header {
  font-size:50px;
  color:white;
  margin-top:-25px;
}
.back-tech {
  font-size:18px;
}

.front-tech {
  font-size:18px;
}

* {box-sizing:border-box;transition:all 0.3s;-webkit-transition:all 0.3s;}


.pos {
  position:relative;
  margin:0 auto;
}

.arrowBottom {
  height:60px;
  width:60px;
  border:4px solid white;
  border-radius:100%;
}

.arrowTop {
  height:60px;
  width:60px;
  border:4px solid white;
  border-radius:100%;
  margin:0 auto;
}

.arrowBottom:before,.arrowBottom:after {
  content:'';
  position:absolute;
  top:26px;
  width:18px;
  border:2px solid white;
  transition:all 0.3s;
  -webkit-transition:all 0.3s;
}

.arrowBottom:before {
  transform:rotateZ(45deg);
  -webkit-transform:rotateZ(45deg);
  left:12px;
}

.arrowBottom:after {
  transform:rotateZ(-45deg);
  -webkit-transform:rotateZ(-45deg);
  left:22px;
}

.arrowBottom:hover {
  cursor:pointer;border-width:0;
}
.arrowBottom:hover:before,.arrowBottom:hover:after {
  top:40px;
}
.arrowBottom:hover:before {
  left:15px;
}
.arrowBottom:hover:after {
  left:26px;
}

.arrowTop:before,.arrowTop:after {
  content:'';
  position:absolute;
  top:26px;
  width:18px;
  border:2px solid white;
  transition:all 0.3s;
  -webkit-transition:all 0.3s;
}

.arrowTop:before {
  transform:rotateZ(-45deg);
  -webkit-transform:rotateZ(-45deg);
  left:12px;
  }
.arrowTop:after {
  transform:rotateZ(45deg);
  -webkit-transform:rotateZ(45deg);
  left:22px;
}

.arrowTop:hover {
  cursor:pointer;border-width:0;
}
.arrowTop:hover:before,.arrowTop:hover:after {
  top:1px;
}
.arrowTop:hover:before {
  left:15px;
}
.arrowTop:hover:after {
  left:27px;
}

/**
Projects Page
**/

.projects {
  height:590px;
}

.row-projects {
  margin-top:30px;
}

.btn-hide {
  color:#eee;
  background-color:#eee;
}

.project-description {
 color:#eee;
}

.first-project:hover {
  color:black;
  background-color:#E9D985;
  transition: 0.3s;
  -webkit-transition:all 0.3s;
}

.first-project-link {
  color:#eee;
}

.first-project-link:hover {
  color:blue;
  text-decoration: none;
}


.second-project {
  margin-top:100px;
}

.second-project:hover {
  background-color:#B2BD7E;
  transition:all 0.3s;
  -webkit-transition:all 0.3s;
}

.third-project {
  margin-top:100px;
}

.third-project:hover {
  background-color:#749C75;
  transition:all 0.3s;
  -webkit-transition:all 0.3s;
}

.fourth-project {
  margin-top:100px;
  margin-bottom:0;
}

.fourth-project:hover {
  background-color:#619974;
  transition:all 0.3s;
  -webkit-transition:all 0.3s;
}

.first-project-image {
  height:350px;
  width:500px;

}