<div class="clear">
	<div class= "video-show-navigation-buttons">
		<%= button_to video_categories_path, method: :get, class: "general-button before-navigation"  do %>
				<span class="glyphicon glyphicon-arrow-left"></span> Back to Videos 
			<% end %>
	</div>
	<div class= "video-show-navigation-buttons">
		<%= button_to @path, method: :get, class: "general-button before-navigation random-width-increase", params: {random: true} do %>
				Give Me More Random Motivation <span class="glyphicon glyphicon-arrow-right"></span> 
			<% end %>
	</div>
</div>