@import "bootstrap-sprockets";
@import "bootstrap";


/*****************************
 Aside information next to motivator
 ****************************/
 .video-motivate-information-container {
 	background-color:white;
 	float:right;
 	height:490px;
 	width:400px;
 	margin:10px;
 	margin-right:20px;
 }

/*****************************
 Buttons for Videos and Images
 ****************************/

.general-button {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 22px 50px;
	display: inline-block;
	margin: 15px 30px;
	letter-spacing: 1.5px;
	font-weight: 700;
	outline: none;
		&.video-width-increase {
			width:370px;
		}
		&.random-width-increase {
			width:435px;
			margin-left:-30px;
		}

		&.alter {
			margin-left:88px;
			margin-top:-15px;
		}

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.unmotivational {
	margin-top:100px;
	border: 3px solid #add8e6;
	border-radius:20px;
	&:hover {
		color:black;
		background-color:#add8e6
	}
	
}



 .videos-images-button {
	color: black;
	&.blue-text {
		color:#0e83cd;
	}
}

.videos-images-button:hover,
.videos-images-button:active {
	color: black;
	background: #fff;
}

.btn-1f {
	overflow: hidden;
}

.favorite {
	background-color:#ff0000;
	font-size:20px;
	letter-spacing:0px;
	border-radius:15px;
	font-family: inherit;
}

.favorite:after {
	width: 101%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.favorite:hover,
.favorite:active {
	color: white;
}

.favorite:hover:after {
	height: 75%;
	opacity: 1;
}

.favorite:active:after {
	height: 130%;
	opacity: 1;
}

.before-navigation {
	border-radius: 50px;
	border: 3px solid #fff;
	color: #fff;
	overflow: hidden;
	background:#006633;
	text-transform: uppercase;
	&.left {
		float:left;
	}
	&.right {
		float:right;
	}
}

.before-navigation:active {
	border-color: #17954c;
	color: #17954c;
}

.before-navigation:hover {
	background: #24b662;
}

.before-navigation:before {
	position: absolute;
	height: 100%;
	font-size: 125%;
	line-height: 3.5;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.before-navigation:active:before {
	color: #17954c;
}

.before-navigation:before {
	left: 30%;
	opacity: 0;
	top: 0;
}

.before-navigation:hover:before {
	left: 10%;
	opacity: 1;
}



.video-show-navigation-buttons {
	display:inline-block;
	width:400px;
	overflow:none;

}

.container-image-show-buttons {
	width:950px;
	float:left;
	clear:both;
	display : block;
    margin : auto;
    text-align:center;
    margin-left:10px;
}

.image-show-navigation-buttons-left {
	float:left;
	clear:both;
}

.image-show-navigation-buttons-right {
	float:right;
	clear:both;
}

/*********************
	 Header
*********************/

.alert.alert-info {
	margin-top:-22px;
	text-align:center;
}

.navbar-text {
	padding:16px;
	margin:0 auto;
	font-family: 'PT Serif', serif;
	font-weight:bold;
	font-size:20px;
	a:link {
		color:#777;
		text-decoration:none;
		}
	a {
		color:#505050
	}
	a:hover {
		color:white;
	}
	
}

.navbar-default {
	background-color:white;
}

.give-me-motivation-logo {
	height:60px;
	width:125px;
	margin-left:95px;
}

.header-text-right {
	float:right;
	div:hover {
		background-color:#009933;
		transition:all 1000ms ease;
		color:white;
		padding:16px;
		margin:0 auto;
	}
}

.header-text-left {
	float:left;
	div:hover {
		background-color:#000066;
		transition:all 1000ms ease;
		color:white;
		padding:16px;
		margin:0 auto;
	}
}

/*********************
	 Homepage
*********************/

.homepage {
	background-image: image-url("trail.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

.button-navigation-homepage {
	position:absolute;
	text-align:center;
	top:37%;
	left:25%;
	:hover{ 
		transition:all 500ms ease;
		color:green;
	}
}

.homepage-buttons {
	display:inline-block;
	margin-left:40px;	
}

.btn-lg {
	background-color:transparent;
	width:150px;
	border:2px solid #D0D0D0;
	color:#FFFFFF;
	padding-top:35px;
	padding-bottom:35px;
	font-size:20px;
	:hover{ 
		transition:all 500ms ease;
		color:green;
	}
}

.home-button {
	right:65%;
	font-size:20px;
	border:none;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 10px 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.home-button {
	border:solid;
	color: #fff;
}

.home-button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.home-button:hover,
.home-button:active {
	color: green;
	background: #fff;
	border-color:white;
}


.submit-container {
	text-align:center;
	margin:auto;
	margin-top:70px;
	width:500px;
	height:450px;
	
}
/*********************
	Videos page
*********************/

.videos-background {
	background-image: image-url("running_background.gif");
	background-repeat: no-repeat;
	background-size: cover;

}

.images-background {
	background-image: image-url("image_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.btn.btn-default.btn-lg.videos:hover {
	color:green;
	transition: 500ms ease;
}

.videos {
	color:black;
}

iframe {
	padding-top:10px;
	padding-left:30px;
	float:left;
}

.video_title {
	text-align:center;
}

/*********************
 Favorite Videos page
*********************/

.iframe.center {
   margin: 0 auto;
   width: 800px;
}

/***********************
	Image categories
***********************/



/***********************
	Image page
***********************/

.image-display {
    max-width:600px;
    max-height:600px;
    &.random-image {
    	margin-left:-60px;
    }
}

.container-image {
    display : block;
    margin : auto;
    text-align:center;
}

 .image-motivate-information-container {
 	background-color:white;
 	float:right;
 	height:250px;
 	width:400px;
 	margin:10px;
 	margin-right:20px;

 }

.container-image-and-information {
}

/***********************
  Log-in/Sign-in page
***********************/
.form-horizontal {
	margin-top:50px;

}

h1.sign-up {
    text-align: center;
    margin-top:-3%;
    margin-right:5%;
    margin-bottom:10%;
}

.center-signin {
	display:inline-block;
	margin-top:70px;
}

.btn.btn-default.sign-in {
	color:grey;
	&:hover {
		background-color:#000066;
		border-color:#000066;
		color:white;
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;	
	}

}

.col-sm-2.control-label {
	right:5%;
	margin-top:25px;	
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
  }


.container-sign-in {
	background-color:#0099CC;
	text-align:center;
	margin:auto;
	margin-top:70px;
	width:500px;
	height:450px;
	border-radius:20%;
	color:white;
	.sign-up {
		font-family:"Josefin Slab";
		font-size:50px;
	}
}

.container-log-in {
	background-color:#0099CC;
	text-align:center;
	margin:auto;
	margin-top:50px;
	width:500px;
	height:350px;
	border-radius:20%;
	color:white;
	.sign-up {
		font-family:"Josefin Slab";
		font-size:50px;
	}
}

.home-button {
	right:65%;
	font-size:20px;
}
.home-button {
	border:solid;
	color: #fff;
}

.home-button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.home-button:hover,
.home-button:active {
	color: green;
	background: #fff;
	border-color:white;
}

/***********************
 		User Page
***********************/

h3.text-info.thumbnail-title {
	color:red;
	text-align:center;
	text-decoration:none;
	&.left {
		float:left;
		margin-left:200px;

	}
	&.right {
		float:right;
		margin-right:200px;
	}
}

.user-video-resize {

}
.user-image-resize {
	max-width:360px;
	max-height:360px;
}
.center {
		display:block;
		margin:0 auto;
	}
.button-center {
	width:120px;
	height:20px;
}


/***********************
    User Video Page
***********************/

.text-center {
	text-align:center;
	display:block;
	margin:0 auto;
	font-family: 'PT Serif', serif;
}

.danger-favorites {
	margin-top:-15px;
	margin-bottom:35px;
}

.caption {
	margin-bottom:20px;
}

/***********************
    User Image Page
***********************/



/***********************
 Buttons with Glyphicon
***********************/

span.glyphicon.glyphicon-thumbs-down {
	font-size:15px;
	font-weight:10px;
}

glyphicon.glyphicon-arrow-left {
	margin-top:100px;
	position:absolute;

}

span.glyphicon.glyphicon-heart {
	word-spacing:-10px;
}