@import "bootstrap-sprockets";
@import "bootstrap";

/*********************
	 Header
*********************/

.alert.alert-info {
	margin-top:-22px;
	text-align:center;
}

.navbar-text {
	padding:20px;
	margin:0 auto;
	font-family: Lobster;
	font-weight:bold;
	font-size:20px;
	a:link {
		color:#777;
		text-decoration:none;
		}
	a {
		color:#505050
	}
	a:hover {
		color:white;
	}
	
}

.navbar-default {
	background-color:white;
}

.give-me-motivation-logo {
	height:60px;
	width:125px;
	margin-left:320px;
}

.header-text-right {
	float:right;
	div:hover {
		background-color:#009933;
		transition:all 1000ms ease;
		color:white;
		padding:20px;
		margin:0 auto;
	}
}

.header-text-left {
	float:left;
	div:hover {
		background-color:#000066;
		transition:all 1000ms ease;
		color:white;
		padding:20px;
		margin:0 auto;
	}
}

/*********************
	 Homepage
*********************/

.homepage {
	background-image: image-url("trail.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

.button-navigation {
	display:inline-block;
	position:relative;
	margin-top:26%;
	left:35%;
	margin-left:20px;
	margin-right:20px;
	:hover{ 
		transition:all 500ms ease;
		color:green;
		}
}

.button-navigation-random-homepage {
	position:absolute;
	top:40%;
	left:44%;
	:hover{ 
		transition:all 500ms ease;
		color:green;
	}

}

.btn-lg {
	background-color:transparent;
	width:150px;
	border:2px solid #D0D0D0;
	color:#FFFFFF;
	padding-top:35px;
	padding-bottom:35px;
	font-size:20px;
	:hover{ 
		transition:all 500ms ease;
		color:green;
	}
}
/*********************
	Videos page
*********************/

.videos-background {
	background-image: image-url("running_background.gif");
	background-repeat: no-repeat;
	background-size: cover;

}

.btn.btn-default.btn-lg.videos:hover {
	color:green;
	transition: 500ms ease;
}

.videos {
	color:black;
}

iframe {
	margin-left:17%;
	margin-top:3%;
}

.video_title {
	text-align:center;
}


/***********************
	Image categories
***********************/

.image-motivation {
	margin-left:auto;
	margin-right:auto;
	display: block;
    max-width:500px;
    max-height:500px;
    width: auto;
    height: auto;
}

/***********************
	Image page
***********************/

.image-display {
	margin:0 auto;
	display:block;
}

/***********************
  Log-in/Sign-in page
***********************/
.form-horizontal {
	margin-top:50px;

}

h1.sign-up {
    text-align: center;
    margin-top:3%;
    word-spacing:50px;
    margin-right:5%;
}

.center-signin {
	display:inline-block;
}

.btn.btn-default.sign-in {
	color:grey;
	&:hover {
		background-color:#000066;
		border-color:#000066;
		color:white;
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;	
	}

}

.col-sm-2.control-label {
	right:5%;
	margin-top:25px;	
}

.form-control {
	margin-top:25px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
  }


.container-sign-in {
	background-color:#0099CC;
	text-align:center;
	margin:auto;
	margin-top:70px;
	width:500px;
	height:450px;
	border-radius:20%;
	color:white;
	.sign-up {
		font-family:"Josefin Slab";
		font-size:50px;
	}
}

.container-log-in {
	background-color:#0099CC;
	text-align:center;
	margin:auto;
	margin-top:70px;
	width:500px;
	height:350px;
	border-radius:20%;
	color:white;
	.sign-up {
		font-family:"Josefin Slab";
		font-size:50px;
	}
}