<div class="jumbotron about-padding">
	<p class="text-center about-text">Givememotivation.com was created to offer people a way to become motivated with only a few clicks.</p>
	<p class="text-center about-text">Motivational material is divided into two sources: images and videos, and those two sources are divided into categories such as General Motivation and Sports Motivation.</p>
	<p class="text-center about-text">Signing up allows users to mark images or videos as "Favorites," which can always be accessed through their profile page. Users may also mark images or videos as "Unmotivational," meaning that the specific material will never show up when browsing other motivational material. Deleting images and videos from a user's unmotivational or favorites list can be accomplished through their profile page.</p>
</div>
<div class="jumbotron about-padding">
	<p class="text-center about-text">Any suggestions or comments? Please email them to: dylynch91@gmail.com</p>
	<%= link_to "My Github", "https://github.com/lynchd2", class: "text-center" %>
</div>
<div class="jumbotron about-padding">
	<p class="text-center about-text">Thanks for visiting!</p>
</div>

