<div class="videos-images-button">
	<span class="button-navigation">
		<%= button_to "Videos", videos_path, method: :get, class: "btn btn-default btn-lg" %>
	</span>
	<span class="button-navigation">
		<%= button_to "Images", images_path, method: :get, class: "btn btn-default btn-lg" %>
	</span>
</div>
	<span class="button-navigation-random-homepage">
		<%= button_to "Random", images_path, method: :get, class: "btn btn-default btn-lg" %>
	</span>
</div>

