<div class="button-navigation-homepage">
		<div class="homepage-buttons"><%= button_to "Videos", video_categories_path, method: :get, class: "home-button" %></div>
		<div class="homepage-buttons"><%= button_to "Random", random_image_or_video, method: :get, class: "home-button", params: {random: true} %></div>
		<div class="homepage-buttons"><%= button_to "Images", image_categories_path, method: :get, class: "home-button" %></div>
</div>
