<h2 class= "video_title"><%= @favorite_video%></h2>
<div class="iframe center"><iframe width="800" height="500" src="https://www.youtube.com/embed/<%= @favorite_video.url%>" frameborder="0" allowfullscreen></iframe></div>